VITE_BETTER_AUTH_URL=http://localhost:3200
MISTRAL_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
PORT=3200
DATABASE_URL=
BETTER_AUTH_URL=http://localhost:3200
BETTER_AUTH_SECRET=
CLIENT_URL=http://localhost:5173
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
